USE [master]
GO
/****** Object:  Database [CizBakalimDB]    Script Date: 27.04.2026 17:51:37 ******/
CREATE DATABASE [CizBakalimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CizBakalimDB', FILENAME = N'C:\ProgramData\SOLIDWORKS Electrical\MSSQL12.TEW_SQLEXPRESS\MSSQL\DATA\CizBakalimDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CizBakalimDB_log', FILENAME = N'C:\ProgramData\SOLIDWORKS Electrical\MSSQL12.TEW_SQLEXPRESS\MSSQL\DATA\CizBakalimDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CizBakalimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CizBakalimDB]
GO
/****** Object:  Table [dbo].[GameRooms]    Script Date: 27.04.2026 17:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameRooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomCode] [nvarchar](8) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[StartedAt] [datetime2](7) NULL,
	[EndedAt] [datetime2](7) NULL,
	[DurationSeconds] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MaxPlayers] [int] NOT NULL,
	[Topic] [nvarchar](255) NULL,
	[CanvasSize] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerSlices]    Script Date: 27.04.2026 17:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerSlices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SliceOrder] [int] NOT NULL,
	[DrawingData] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.04.2026 17:51:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GameRooms] ON 

INSERT [dbo].[GameRooms] ([Id], [RoomCode], [CreatedByUserId], [CreatedAt], [StartedAt], [EndedAt], [DurationSeconds], [IsActive], [MaxPlayers], [Topic], [CanvasSize]) VALUES (2, N'LQ6V6E', 3, CAST(N'2026-04-27T11:37:13.3244992' AS DateTime2), CAST(N'2026-04-27T12:54:45.1322618' AS DateTime2), NULL, 75, 1, 8, NULL, N'medium')
INSERT [dbo].[GameRooms] ([Id], [RoomCode], [CreatedByUserId], [CreatedAt], [StartedAt], [EndedAt], [DurationSeconds], [IsActive], [MaxPlayers], [Topic], [CanvasSize]) VALUES (3, N'5P27QV', 3, CAST(N'2026-04-27T11:46:15.6474231' AS DateTime2), CAST(N'2026-04-27T11:46:28.8474428' AS DateTime2), NULL, 60, 1, 8, NULL, N'medium')
INSERT [dbo].[GameRooms] ([Id], [RoomCode], [CreatedByUserId], [CreatedAt], [StartedAt], [EndedAt], [DurationSeconds], [IsActive], [MaxPlayers], [Topic], [CanvasSize]) VALUES (4, N'UZGRXG', 3, CAST(N'2026-04-27T13:02:58.2734814' AS DateTime2), CAST(N'2026-04-27T13:03:06.4026143' AS DateTime2), CAST(N'2026-04-27T13:04:06.5193444' AS DateTime2), 60, 0, 8, NULL, N'medium')
SET IDENTITY_INSERT [dbo].[GameRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayerSlices] ON 

SET IDENTITY_INSERT [dbo].[PlayerSlices] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive]) VALUES (1, N'testuser1', N'test1@mail.com', N'HASH_BURAYA', CAST(N'2026-04-27T14:14:30.6070000' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive]) VALUES (2, N'testuser2', N'test2@mail.com', N'HASH_BURAYA', CAST(N'2026-04-27T14:14:30.6070000' AS DateTime2), 1)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive]) VALUES (3, N'erdem', N'erdem@gmail.com', N'$2a$11$wGXQxncCrBnXQSXolMEf.Oe1XWC7u/11SLTnVVrGqnS1pU8/2B7tC', CAST(N'2026-04-27T11:36:07.9650114' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GameRoom__4F9D5231F4F2738E]    Script Date: 27.04.2026 17:51:38 ******/
ALTER TABLE [dbo].[GameRooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameRooms_IsActive]    Script Date: 27.04.2026 17:51:38 ******/
CREATE NONCLUSTERED INDEX [IX_GameRooms_IsActive] ON [dbo].[GameRooms]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GameRooms_RoomCode]    Script Date: 27.04.2026 17:51:38 ******/
CREATE NONCLUSTERED INDEX [IX_GameRooms_RoomCode] ON [dbo].[GameRooms]
(
	[RoomCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PlayerSlices_Room_Order]    Script Date: 27.04.2026 17:51:38 ******/
ALTER TABLE [dbo].[PlayerSlices] ADD  CONSTRAINT [UQ_PlayerSlices_Room_Order] UNIQUE NONCLUSTERED 
(
	[RoomId] ASC,
	[SliceOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PlayerSlices_Room_User]    Script Date: 27.04.2026 17:51:38 ******/
ALTER TABLE [dbo].[PlayerSlices] ADD  CONSTRAINT [UQ_PlayerSlices_Room_User] UNIQUE NONCLUSTERED 
(
	[RoomId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlayerSlices_RoomId]    Script Date: 27.04.2026 17:51:38 ******/
CREATE NONCLUSTERED INDEX [IX_PlayerSlices_RoomId] ON [dbo].[PlayerSlices]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E45A2DE119]    Script Date: 27.04.2026 17:51:38 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105344B608BDE]    Script Date: 27.04.2026 17:51:38 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameRooms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GameRooms] ADD  DEFAULT ((60)) FOR [DurationSeconds]
GO
ALTER TABLE [dbo].[GameRooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameRooms] ADD  DEFAULT ((8)) FOR [MaxPlayers]
GO
ALTER TABLE [dbo].[GameRooms] ADD  DEFAULT ('medium') FOR [CanvasSize]
GO
ALTER TABLE [dbo].[PlayerSlices] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GameRooms]  WITH CHECK ADD  CONSTRAINT [FK_GameRooms_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[GameRooms] CHECK CONSTRAINT [FK_GameRooms_Users]
GO
ALTER TABLE [dbo].[PlayerSlices]  WITH CHECK ADD  CONSTRAINT [FK_PlayerSlices_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[GameRooms] ([Id])
GO
ALTER TABLE [dbo].[PlayerSlices] CHECK CONSTRAINT [FK_PlayerSlices_Rooms]
GO
ALTER TABLE [dbo].[PlayerSlices]  WITH CHECK ADD  CONSTRAINT [FK_PlayerSlices_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PlayerSlices] CHECK CONSTRAINT [FK_PlayerSlices_Users]
GO
USE [master]
GO
